<div class="login-card shadow">
    <div class="login-header">
      <h4>Employee Login</h4>
    </div>
    <form>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="userName" name="userName" [(ngModel)]="loginObj.userName" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" [(ngModel)]="loginObj.password" class="form-control" required>
      </div>
      <button type="button" (click)="onLogin()" class="btn btn-primary w-100">Login</button>
    </form>
  </div>
